NEXT_PUBLIC_PRIVY_APP_ID=your-privy-app-id
NEXT_PUBLIC_PRIVY_SIGNER_ID=your-signer-id
NEXT_PUBLIC_TOKEN_PRICE_API_BASE_URL=https://bv2cfyq9q7.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_OPENWIDGET_ORG_ID=your-openwidget-organization-id